#position-ad{
background-color:transparent
}
a:hover{
background-color:SeaGreen
}
.mainmenu{overflow:hidden;background:#A9A9A9}
.mainmenu ul{margin:0;padding:0;list-style:none}
.mainmenu ul li{float:right;border-left:1px solid #5da5ca;border-right:1px solid #2E8B57}
.mainmenu ul li:first-child{border-left:0px solid}
.mainmenu ul li:last-child{border-right:0px solid}
.mainmenu ul li a{color:#fff;display:block;padding:15px}
.mainmenu ul li a:hover{background:#2E8B57}


.footer{
    padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2E8B57;
};
}